
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins',sans-serif;
}
:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
/* .header.sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
} */
.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
    filter: drop-shadow(-20px -20px 1px #323946);
    animation-name: logo;
    animation-duration: 2s;
}
@keyframes logo{
    from{
        filter: drop-shadow(30px 30px 5px #323946);

    }
    to{
        filter: drop-shadow(-20px -20px 5px #323946);

    }

}
.navbar a{
 font-size: 1.7rem;
 color: var(--text-color);
 margin-left: 4rem;
 transition:  .3s;
}
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
.home{
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
}
.home-img img{
 width: 25vw;
 border-radius: 10% 30% 2% 30%;
 border: 5px solid var(--main-color);
}
.home-content h3{
   font-size: 3.2rem;
   font-weight: 700;
}
.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.4;
}
span{
    color: #0ef;
}
#myimage{
    filter: brightness(100%);
    filter: contrast(150%);
    filter: grayscale(30%);
    filter: sepia(15%);  
    filter: drop-shadow(-20px -20px 1px #323946);
    animation-name: myimage;
    animation-duration: 2s;
}
@keyframes myimage{
    from{
        width: 1vw;
        filter: drop-shadow(30px 30px 1px #323946);
    }
    to{
        filter: drop-shadow(-20px -20px 1px #323946);
        transform: rotate(720deg);
    }
}

#myname{
    filter: drop-shadow(-20px -20px 1px #323946); 
   animation-name: myname;    
   animation-duration: 2s;
}
@keyframes myname{
    from{
        filter: drop-shadow(30px 30px 1px #323946);
    }
    to{
        filter: drop-shadow(-20px -20px 1px #323946); 
    }
}
.shadow-element{
    filter: drop-shadow(-20px -20px 1px #323946);
    animation-name: shadow-element;
    animation-duration: 2s;
   
}
@keyframes shadow-element{
    from{
        z-index: 0;
        filter: drop-shadow(30px 30px 1px #323946);
    }
    to{
        z-index: 1;
        filter: drop-shadow(-20px -20px 1px #323946); 
    }
}
.shadow-element{
    color: #fff;
    font-size: 25px;
}

.shadow-element>i{ 
    width: 4rem;
    height: 4rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
       color: #fff;
       font-size: 25px;
       border: 3px solid #0ef;
       border-radius: 50%;
}
.bxl-facebook:hover{
    color: blue;
}
.bxl-twitter:hover{
    color: black;
}
.bxl-instagram-alt:hover{
      background: conic-gradient(red,green,blue);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   -webkit-text-fill-color:transparent;
}
.btn:hover{
       color:#0ef;
}
#myname:hover{
    color:#0ef;
}
.btn{
    color: white;
    border: 2px solid #0ef;
    padding: 5px;
    border-radius: 10px;
   
}
.btn:hover{
    border-color: white;
     
}
 /* about page */
 .about-img img{
    width: 25vw;
    border-radius: 30% 10% 30% 10%;
    border: 5px solid var(--main-color);
    filter: drop-shadow(30px 30px 1px #323946);
   }
.about-img img:hover{
    animation-name: aboutimage;
    animation-duration: 2s;
}
   @keyframes aboutimage {
           from{
                width: 25vw;
                filter: drop-shadow(30px 30px 1px #323946);
           }
           to{
                width: 26vw;
                filter: drop-shadow(-30px -30px 1px #434a56);
           }
   }
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: var(--second-bg-color);
}
.about-content{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.6; 
}
.shadow-element2{
    filter: drop-shadow(-20px -20px 3px var(--bg-color));
    animation-name: shadow-element2;
    animation-duration: 2s;
   
}
@keyframes shadow-element2{
    from{
        z-index: 0;
        filter: drop-shadow(30px 30px 3px var(--bg-color));
    }
    to{
        z-index: 1;
        filter: drop-shadow(-20px -20px 3px var(--bg-color)); 
    }
}

/* services script */
.services h2{
     margin-bottom: 5rem;
     font-size: 3rem;
}
.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5rem;
}
.services-box{
    flex: 1 1 30rem;
    background-color: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 2px solid var(--bg-color);
    filter: drop-shadow(3px 3px 8px #0ef);
    transition: all 0.2s;
    
}
.services-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}
.services-box i{
    font-size: 7rem;
    color: var(--main-color);
}
.services-box h3{
    font-size: 2.6rem;
}
.services-box p{
    font-size: 1.5rem;
}

/* portfolio css */
.portfolio{
    background-color: #323946;
}

.portfolio h2{
    margin-bottom: 5rem;
    font-size: 3rem;
}
.portfolio-container{
    padding-left: 6%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}
.portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}
.portfolio img{
    width: 100%;
    transition: all 0.5s;
}
.portfolio img:hover{
    transform: scale(1.1);
}
.portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1),var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 5%;
    transform: translateY(77%);
    transition: transform 1s;
}
.portfolio-layer:hover {
    transform: translateY(0);
}
.portfolio-layer h4{
    font-size: 3rem;
}
.portfolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;

    background-color: var(--text-color);
    border-radius: 50%;
}
.portfolio-layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}
.fa-angle-up{
    height: 50px;
    border: 2px solid white;
}

/* contact */
.submit{
    background-color: black;
    margin-top: 2rem;
    cursor: pointer;
}

.contact h2{
    margin-bottom: 3rem;
    font-size: 3rem;
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}


.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: var(--second-bg-color);
    border-radius: 10px;
    margin: 5px;
}
.contact form textarea{
    resize: none;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 10%;
    background-color: var(--second-bg-color);
}
.footer_text p{
    font-size: 1.6rem;
}
.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background-color: var(--main-color);
    border-radius: 50%;
    filter: drop-shadow(5px 5px 2px var(--bg-color));
}
.footer-iconTop i{
    font-size: 30px;
    }
.footer-iconTop i:hover{
   animation: up;
   animation-duration: 2s;
}
@keyframes up {
    from{
        transform: translatey(0%);
        opacity: 1;
    }
    to{
        transform: translateY(-70%);
        opacity: 0;
    }
}
@media (min-width:601px)
 {
    .dropdown{
        display: none;
    }
 }
@media (max-width:720px)
 {
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 10px;
        background: var(--bg-color);
        border-top: 1px solid rgba(0, 0, 0,.2);
        box-shadow: 0.5px 1px rgba(0, 0, 0,.2);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 20px;  
        margin: 10px 0;
    } 
 }

 
 
